@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Mukta&family=PT+Sans&family=Rubik&display=swap');

:root{
    --background1: #272932;
    --background2: #30323E;
    --background3: #424556;
    --cordetexto: #F4F4F4;
    --cordetextohover: #8f9686;
    --corbotao: #529e61;
    --corbotaohover: #2f5537;
    --font2: 'Rubik', sans-serif;
    --font1: 'PT Sans', sans-serif;
    --font3: 'Mukta', sans-serif;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: var(--font1);
    color: var(--cordetexto);
    transition: .3s;
}

html{
    scroll-behavior: smooth;
    height: -webkit-fill-available;
}

a:hover{
    color: var(--cordetextohover);
}

/*Barra de navegação*/

header{
    top: 0%;
    left: 0%;
    position: fixed;
    background-color: var(--background1);
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 150;
    border-bottom: 1px solid var(--background3);
    padding-right: 3%;
}

header .logo{
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .logo-img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    padding: .4rem;
    object-fit: cover;
}

header a{
    padding-left: .5rem;
}

.hamburguer{
    position: absolute;
    display: none;
    font-size: 1.5rem;
    z-index: 1000;
    height: 2rem;
    width: 2rem;
    right: 4%;

}
.hamburguer .line{
    background-color: var(--cordetexto);
    height: 3px;
    width: 100%;
    margin: 20% 0;
    border-radius: 20%;
}

header .menu{
    display: flex;
    align-items: center;
    padding: 0 1.5%;
}

header .menu a{
    padding: 1rem 1rem;
    text-decoration: none;
}

.bnt{
    background-color: var(--corbotao);
    border: none;
    border-radius: 25px;
    padding: 0.2rem 1.5rem;
    cursor: pointer;
}

.bnt:hover{
    background-color: var(--corbotaohover);
}

/*conteudo do banner*/

.banner{
    padding-top: 8vh;
    position: relative;
    background-color: var(--background1);
    height: 98vh;
    width: 100%;
    overflow: hidden;
}

.banner-content{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    transform: translate(0%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
}

.banner-content .banner-txt{
    width: 60%;
}

.banner-content .banner-txt h1{
    color: rgb(243, 240, 240);
    padding-bottom: 2rem;
    font-size: 3rem;
}

.banner-content .banner-txt p{
    font-family: var(--font2);
    font-size: 1.5rem;
    padding: 1rem 0;
}

.banner-content .banner-txt .home-bnt{
    letter-spacing: 2px;
    font-size: 1rem;
    padding: .6rem 2rem;
}

.banner-content .social-media{
    display: flex;
    flex-direction: column;
}

.social-media .rede{
    border-radius: 50%;
    font-size: 1.5rem;
    padding: .8rem;
    margin: 1rem 0;
    cursor: pointer;
}

.banner img{
    opacity: .5;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/*Sessão da equipe*/

.section-team{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 12vh;
    background-color: var(--background3);
    height: 75vh;
    width: 100%;
}

.img-team{
    top: 0%;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(/img/WhatsApp\ Image\ 2022-07-03\ at\ 22.44.16.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

.all-content{
    position: absolute;
    height: 90%;
    width: 100%;
}

.header-txt{
    padding: .5% 0;
    text-align: center;
}

.team-content{
    height: 72%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.team-txt{
    display: flex;
    align-items: center;
    width:95%;
    height: 30%;
}

.team-txt hr{
    height: 100%;
}

.team-txt p{
    font-size: 20px;
    padding: 0 6%;
}

/*Sessão de problemas*/

.section-problems{
    padding-top: 12vh;
    background-color: var(--background2);
    width: 100%;
}

.problem{
    display: flex;
    align-items: center;
    width: 92%;
    margin: 0 auto;
    padding: 3% 0;
}

.problem img{
    object-fit: cover;
    height: 40%;
    width: 40%;
    border-radius: 20px;
}

.problem .problem-txt{
    padding: 0 2%;
}

.problem-txt h1{
    padding: 1% 0;
}

/*sessão de soluções*/

.section-solutions{
    padding-top: 12vh;
    background-color: var(--background3);
    width: 100%;
}

.solutions{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 3% 0;
}

.solution{
    position: relative;
    background-color: var(--background2);
    height: 15.6rem;
    min-width: 29%;
    margin: 1.7%;
    border-radius: 0 0 20px 20px;
}

.solution img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 0 0 20px 20px;
    opacity: .8;
}

.solution .solution-txt{
    position: absolute;
    bottom: 0%;
    left: 5%;
    z-index: 100;
    opacity: 0;
}

.solution:hover img{
    opacity: .5;
}

.solution:hover .solution-txt{
    bottom: 30%;
    opacity: 1;
}

/*Sessão de doação*/

.section-donate{
    padding-top: 12vh;
    background-color: var(--background2);
}

.donete-content{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.donete-content p{
    padding: 0 25%;
    margin-bottom: 5%;
}

.bnt-doar{
    padding: .6rem 4rem;
}

/*footer da página*/

footer{
    background-color: var(--background3);
    padding: 0 5%;
    display: flex;
    flex-direction: column;
}

footer .footer-content{
    padding: 4% 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.sobre-nos{
    width: 30%;
}

.ajuda .forma{
    display: flex;
    flex-direction: column;
}

.ajuda .forma a{
    text-decoration: none;
    padding: 1% 0;
}

.atualizacoes input{
    background-color: var(--cordetexto);
    color: var(--background1);
    outline: none;
    width: 100%;
    padding: 2% 1%;
    margin-bottom: 5%;
    border: none;
}

.footer-content div h2{
    padding-bottom: 8%;
}

footer .copyright{
    padding: 1% 0;
    border-top: 1px solid var(--cordetexto) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .copyright img{
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    border-radius: 100%;
}

footer .sobre-nos .social-media .rede{
    padding: .5rem;
    margin-right: 1%;
    font-size: 18px;
}
